{% extends "base.html" %}

{% block title %}Reset Password - Fitness Tracker{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="login-register-wrapper">
  <div class="container">
    <h1>Reset Password</h1>

    {% if error %}
    <p class="error"><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
    {% endif %}

    {% if step == 'username' %}
    <form method="post" action="{{ url_for('main.forgot_password') }}">
      {{ form.hidden_tag() }}
      <div class="input-group">
        {{ form.username(placeholder="Enter your username", class="form-control") }}
        {% for err in form.username.errors %}
        <p class="error">{{ err }}</p>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary" id="submit_btn">
        <i class="fas fa-sign-in-alt"></i> {{ form.submit.label.text }}
      </button>
    </form>

    {% elif step == 'security_question' %}
    <form method="post" action="{{ url_for('main.verify_answer') }}">
      {{ form.hidden_tag() }}
      <input type="hidden" name="username" value="{{ username }}">
      <p class="question">{{ security_question }}</p>
      <div class="input-group">
        {{ form.answer(placeholder="Your answer", class="form-control") }}
        {% for err in form.answer.errors %}
        <p class="error">{{ err }}</p>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary" id="submit_btn">
        <i class="fas fa-sign-in-alt"></i> {{ form.submit.label.text }}
      </button>
    </form>

    {% elif step == 'reset_password' %}
    <form method="post" action="{{ url_for('main.reset_password') }}">
      {{ form.hidden_tag() }}
      <input type="hidden" name="username" value="{{ username }}">
      <div class="input-group">
        {{ form.new_password(id="password", placeholder="New Password", class="form-control") }}
        {% for err in form.new_password.errors %}
        <p class="error">{{ err }}</p>
        {% endfor %}
      </div>
      <div class="password-strength">
        <div class="strength-meter" id="strength-meter"></div>
        <p id="strength-text">Password strength</p>
      </div>
      <div class="input-group">
        {{ form.confirm_password(id="confirm_password", placeholder="Confirm New Password", class="form-control") }}
        {% for err in form.confirm_password.errors %}
        <p class="error">{{ err }}</p>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary" id="submit_btn">
        <i class="fas fa-sign-in-alt"></i> {{ form.submit.label.text }}
      </button>

    </form>
    {% endif %}

    <p class="login-link"><a href="{{ url_for('main.login') }}">Back to login</a></p>
  </div>
</div>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}