<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fitness Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
 
    <header>
      <h1>Fitness Tracker</h1>
      <nav class="nav-right">
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
      </nav>
    </header>
   
    <section class="hero">
      <h2>Track. Analyze. Improve.</h2>
      <p>Your fitness journey starts here. Log your workouts, track progress, and stay motivated!</p>
    </section>
   
  </body>
</html>
