{% extends "base.html" %}

{% block title %}Login - Fitness Tracker{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="login-register-wrapper">
    <div class="container">
        <h1>Welcome Back</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="error"><i class="fas fa-exclamation-circle"></i>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="post">
            {{ form.hidden_tag() }}

            <div class="input-group">
                <i class="fas fa-user"></i>
                {{ form.username(placeholder="Username", type="text", class="username-input") }}
            </div>

            <div class="input-group">
                <i class="fas fa-lock"></i>
                {{ form.password(placeholder="Password", type="password", id="password", class="password-input") }}
                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility()"></i>
            </div>

            <div class="remember-me">
                <label>
                    {{ form.remember() }} {{ form.remember.label.text }}
                </label>
                <a href="{{ url_for('forgot_password') }}" class="forgot-password">Forgot password?</a>
            </div>

            <button type="submit">
                <i class="fas fa-sign-in-alt"></i> {{ form.submit.label.text }}
            </button>
        </form>
        <p class="signup-link">Don't have an account? <a href="{{ url_for('register') }}">Sign up</a></p>
    </div>>
</div>

<script>
    function togglePasswordVisibility() {
        const passwordField = document.getElementById('password');
        const toggleIcon = document.querySelector('.toggle-password');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleIcon.classList.remove('fa-eye');
            toggleIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            toggleIcon.classList.remove('fa-eye-slash');
            toggleIcon.classList.add('fa-eye');
        }
    }
</script>


{% endblock %}